<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOLETO TERCIARIO</title>
    <link rel="stylesheet" href="../css/style.css">
<body>
</head>
<body>
     <!-- ACA COMIENZA EL HEADER-->
   <header>
    <div>
      <h1>DOCENTES EN FORMACIÓN</h1>
       </div>
    <h1> LUCHA POR EL BOLETO GRATUITO TERCIARIO</h1>
    <div class="img">
    <img src="../imagenes/MARCHA UNIVERSITARIA 2 (1).jpg" width="500px" height="500px" alt="ingreso">
    <img src="../imagenes/CONQUISTAMOS BOLETO (2).jpg" width="500px" height="500px" alt="">
    <img src="../imagenes/NO AL VOUCHER.jpg" width="500px" height="500px"alt="">
</div>
   <h2>BOLETO TERCIARIO GRATUITO</h2>
   <P>
    Conquista del Boleto Terciario Gratuito, ley 14.735. En el año 2023 nos encontrabamos en el mismo lugar ,luchando por el acceso al Boleto Terciario Gratuito y hoy podemos decir que despúes de muchos años de lucha para que se apruebe
     y ponga en vigencia la ley.
   </P>
   Dicha ley no podria ser posible sin la lucha de todas y todos los estudiantes, a las acciones colectivas que llevamos a cabo de visualización impulsadas desde el centro de estudiantes y 
   las y los compañeros que pusieron el cuerpo para concientizar sobre nuestro derecho al acceso a la educación y sin dudas el boleto teciario gratuito es un aporte importante que lleva a cabo el Gobierno de la Provincia de Buenos Aires.
   <p>
    Desde el centro de estudiantes durante años hemos llevado a cabo distintas formas de reclamo ya sea por via formal entregando petitorios para que por fin se ponga en vigencia una ley que ya estaba aprobada y que el gobierno de Maria Eugenia Vidal no ponia en vigencia,
    comos así tambien distintos festivales donde le brindabamos información a la gente que participaba de nuestro reclamo e invitamos a que lUchemos juntos por un derecho que se nos estaba negando.
   <p>
    Luego de muchos años de lucha finalmente se puso en vigencia para que todas y todos los estudianes que quieran estudiar en este contexto económico tan complejo tengan el apoyo de las políticas públicas y educativas qe se llevan a cabo, sin dudas es un esfuerzo muy grande 
    el que realiza la Privincia de Buenos Aires ,pero se demostro una vez más que con voluntad politica de hacer posible las cosas se puede.
   </p>
    <!-- footer-->
    <footer>
        <p>
          &copy; Liliana ojeda, potrero digital 2024</p>
      </footer>
   </body>
</html>