<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>FERIA DE APUNTES</title>
</head>
<body>  
     <!-- ACA COMIENZA EL HEADER-->
   <header>
    <div>
      <h1>DOCENTES EN FORMACIÓN </h1>
       </div>
    <h1>FERIA DE APUNTES DE DOCENTES EN FORMACIÓN</h1>
<div class="img">
    <img src="../imagenes/FERIA DE APUNTES 2.jpg" width="500px" height="500px"   alt="">
    <img src="../imagenes/FERIA DE APUNTES.jpg" width="500px" height="500px" alt="">
</div>
<h2>GRAN FERIA DE APUNTES DEL 29</h2>
<p>
    En nuestro centro de estudiante , te damos la bienvenida a un mundo de conocimiento compartido. ¿Estás buscando recursos académicos de alta calidad para mejorar tu desempeño. 
</p>
   <p>
    En la Feria de Apuntes, nuestro objetivo es crear una comunidad de estudiantes comprometidos con el aprendizaje colaborativo. Aqui encontrarás una amplia variedad de apuntes, resúmenes, guías de estudio y materiales académicos que te ayudarán en tu camino hacia el éxito académico.
   </p>
   Entendemos que el contexto complejo económico es muy grave ,por eso hacemos jornadas de ferias de apuntes donde se pueden acercar a buscar los puntes que necesiten ademas de colaborar con los que ya no usan.
    <p>
   Sabemos que la salida es colectiva , es por eso que si tenes  apuntes teóricos o guías practicas de la catedra, incluso resúmenes o libros digitales te invitamos a qu nos los entregues para que otro pueda acceder a ellos  Tu contribución puede marcar la diferencia en la vida de otros estudiantes.
    </p>
     <!-- footer-->
     <footer>
        <p>
          &copy; Liliana ojeda, potrero digital 2024</p>
      </footer>
    </body>

</html>