<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro de estudiantes </title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../imagenes/icono.png"
     type="imagenes/png">
</head>
<body>
          <!-- ACA COMIENZA EL HEADER-->
 <header>
    <div>
        <h1> DOCENTES EN FORMACION</h1>
        <p> centro de estudiantes</p>
    </div>
 </header>  
 <!-- navbar-->
 <nav class="navbar">
<a href="../../index.html">inicio</a>
<a href="quienes.html">quienes somos</a>
<a href="lucha.html">boleto</a>
<a href="#"> formulario de registro</a>
  </nav> 
  <!-- miformulario-->
   <form action=""></form>
   <fieldset><legend>FORMULARIO DE REGISTRO</legend>
    <label for="nombre">NOMBRE </label>
    <input type="text" name="nombre" id="nombre"required >
    <label for="apellido">APELLIDO</label>
    <input type="text" name="apellido" id="apellido"required >
    <label for="email">EMAIL</label>
    <input type="text" name="email" id="email" required>
    <label for="pass">CONTRASEÑA </label>
    <input type="password" name="pass" id="pass">
    <label for="fecha">fecha de nacimiento</label>
    <input type="date" name="fecha" id="fecha">
    <input type="submit" value="registrarse">
    <input type="reset" value="borrar">
</fieldset>
   
<!-- footer-->
  <footer>
    <p>
      &copy; Liliana ojeda, potrero digital 2024</p>
  </footer>
</body>
</html>