<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ingreso a la docencia</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!-- ACA COMIENZA EL HEADER-->
    <header>
        <div>
          <h1>DOCENTES EN FORMACIÓN</h1>
           </div>
    <h1>INGRESO A LA DOCENCIA </h1>
    <div class="img">
    <img src="../imagenes/INGRESO A LA DOCENCIA.jpg" width="500px" height="500px" alt="ingreso">
    <img src="../imagenes/CONSTUYENDO MEMORIA2.jpg" width="500px" height="500px" alt="">
    <img src="../imagenes/CONSTRUYENDO MEMORIA.jpg" width="500px" height="500px"alt="">
</div>
<h2>TALLER </h2>
<P >Desde el centro de estudiantes nos parece importante el acceso a la informacion y desde esta perspectiva lanzamos talleres de ingreso a la docencia.
    Los talleres se dan de manera presencial en el instituto en los tres turnos y esta a cargo de los compañeros de el centro en conjunto con los profesores,</p>
<p>Dichos dichos talleres son una de las tantas politicas que implementamos para que todos lso esudiantes esten informados y sean concientes de las posibilidades laborales que tienen.
    El centro de estudiantes asesora a todos aquellos que quieran acercarse en busca de informacion a la hora de comenzar a agarrar horas o cargos.
</p>
<p>Sabemos que la salida es colectiva ,es por eso que se fomentan estas politicas de asesoramiento a los y las estudiantes.</p>
 <!-- footer-->
 <footer>
    <p>
      &copy; Liliana ojeda, potrero digital 2024</p>
  </footer>
</body>
</html>