<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css"> 
    <link rel="icon" href="../imagenes/icono.png"
    type="imagenes/png">
    <title>docentes en frmación</title>
</head>
<body>
   <!-- ACA COMIENZA EL HEADER-->
   <header>
    <div>
      <h1>FORMACIÓN CONTÍNUA </h1>
       </div>
  <h1>TALLERES DE CAPACITACIÓN</h1>  
  <div class="img">
  <img src="../imagenes/IMG-20240720-WA0020 (1).jpg" width="500px" height="500px"alt="">
  <img src="../imagenes/CINE DEBATE.jpg" width="500px" height="500px"alt="">
  <img src="../imagenes/CHARLA VETE.jpg" width="500px" height="500px"alt="">
  </div>
 <h2>TALLERES DE FORMACIÓN CONTÍNUA</h2>
  <P>Desde el centro de estudiantes promovemos un proceso de aprendizaje y desarrollo profesional diseñado para mantener actualizados y mejorar los conocimientos, habilidades y competencias de los docentes a lo largo de su carrera.</P>
  Estamos plenamente convencidos de que la responsabilidad de nuestra tarea es muy grande y que es nuestra obligación 
  estar a la altura de las para no pasar silenciosamente por la vida de aquellos niños, niños y adolescentes 
  a los que formamos.
  Para ello nos organizamos de manera colectiva porque asi será nuestra actividad como docente.
  Es solo construyendo una comunidad educativa que participe , proponga y resuelva; que lograremos una educacion de calidad e inclusivo,
  que abogue por la soberania de nuestro pueblo.
   <!-- footer-->
   <footer>
    <p>
      &copy; Liliana ojeda, potrero digital 2024</p>
  </footer>
</body>
</html>