<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../imagenes/icono.png"
    type="imagenes/png">
    <title>QUIENES SOMOS </title>
</head>
<body>   
    <!-- ACA COMIENZA EL HEADER-->
    <header>
     <div>
       <h1>CENTRO DE ESTUDIANTES </h1>
     </div>
<!-- parte principal-->
   <h1> DOCENTES EN FORMACIÓN</h1>
    <h2>QUIENES SOMOS  </h2>
    <P>Desde este gremio de representacón estudiantil entendemos que la formación docente es constante y continua. Por eso trabajamos incansablemente 
        para aportar calidad académica a nuetra trayectoria como estudiantes.
    <p>
        Estamos plenamente convencidos y convencidas de que la responsabilidad de nuestra tarea es muy importante y que es nuestra obligación estar a la altura para no pasar silenciosamente por la vida de los niños niñas y adolescentesa los 
        que formamos. Para ello nos organizamos de manera colectiva porque así será siempre nuestra actividad docente.
        Es solo construyendo una comunidad educativa que participe, proponga y resuelva que lograremos una educación de calidad e inclusiva, que abogue por la soberania de nuestro pueblo.
        Hemos sido protagonistas de un momento en donde nuestros derechos conquistados por gobienrnos nacionales y populares, han sido atropellados por la avanzada neoliberal, situación que decidimos afrontar aumentando los 
        niveles de organización y de acciones para poder contrarrestar dicha avanzada y que por cierto han tenido su resultado positivo, como lo fue la lucha por el cierre de comisiones de Historia en el año 2018, en donde por medio de volantes, asambles estudiantiles, clases públicas en la puerta del instituto y ovilización a la DES
        hemos impedido la implementacion del cierre de comisiones.
    </p>
    <p>
        Desde Docentes en Formación entendemos a la educación como una inversión y no como un costo como así lo entiende el actual gobierno, como estudiantes y principales protagonistas de este momento, no podemos tener un posicionamiento pasivo y neutral, es por ello que en las elecciones invitamos a todas y todos a votar y fortalecer la vida
        democratica de nuestro instituto.
    </p>
    
    <div class="img">
        <img src="../imagenes/NO AL VOUCHER.jpg"  width="500px" height="500px" alt="">
        <img src="../imagenes/CONQUISTAMOS BOLETO (2).jpg"width="500px" height="500px" alt="">
        <img src="../imagenes/JORNADA SOLIDARIA EP63 2.jpg" width="500px" height="500px"alt="">
</div>
 <!-- footer-->
 <footer>
    <p>
      &copy; Liliana ojeda, potrero digital 2024</p>
  </footer>
    </body>
</html>